body{
    background-color: #fff;
    min-width: 640px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #3c3c3c;
}

    @font-face {
      font-family: "Lato";
      font-style: normal;
      font-weight: 300;
      src: local("Lato Light"), local("Lato-Light"), url("https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2") format("woff2");
      unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }

   
    @font-face {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      src: local("Lato Regular"), local("Lato-Regular"), url("https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2") format("woff2");
      unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }

    @font-face {
      font-family: "Lato";
      font-style: italic;
      font-weight: 400;
      src: local("Lato Italic"), local("Lato-Italic"), url("https://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2") format("woff2");
      unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }

    @font-face {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      src: local("Lato Bold"), local("Lato-Bold"), url("https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2") format("woff2");
      unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }


    @font-face {
      font-family: "ProximaNova";
      font-style: normal;
      font-weight: normal;
      src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.otf") format("opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    }



strong {
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

header{
    width: 100%;
    border-bottom: 10px solid #dedede;
  }

header .row{
    max-width: 1470px;
    margin: 0 auto;
    padding: 1% 6%;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

article{
    background-image: url("../img/header-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 60px 0 0 0;
    font-weight: 300;
    width: 100%;
   
}

article .row{
    padding: 1% 6%;
    max-width: 1470px;
    margin: 0 auto;
}

article h2{
    color: #ffa902;
    font-family: "Lato",sans-serif;
    font-size: 50px;
    margin: 0 0 30px;
}

.yellow-bullet {
    padding-left: 24px;
}

.yellow-bullet > li {
    background-image: url("../img/yellow-bullet.png");
    background-position: 0 5px;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 15px;
    padding: 0 0 0 36px;
}

.font24 {
    font-size: 24px;
}

section{
    padding: 46px 0;
    width: 100%;
}

section .row{
    padding: 1% 6%;
    max-width: 1470px;
    margin: 0 auto;
}

section h2 {
    border-bottom: 1px solid #d6d6d5;
    color: #000000;
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0 0 20px;
}

.italic {
    font-style: italic;
}

.normal-font {
    font-weight: 400;
}

.regform-wrap {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 #333;
    margin-top: -111px;
    overflow: hidden;
    padding: 0 10% 10%;
    text-align: center;
}

.regform-wrap > h3 {
    background: #0482b2 none repeat scroll 0 0;
    color: #fff;
    font-family: lato;
    font-weight: bold;
    margin: 0 -65px 35px;
    padding: 12px 0;
    text-align: center;
}

div.infusion-form {
    width: 100%;
}

.regform-wrap > div select {
    color: #969696;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    margin-bottom: 9px;
    max-width: 480px;
    padding: 15px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.regform-wrap > div [type="email"] {
    border: 1px solid #e2e2e2;
    font-size: 14px;
    margin-bottom: 9px;
    max-width: 480px;
    padding: 15px 15px;
    width: 100%;
}

.regform-wrap > div [type="submit"] {
    background: #ffa902 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 41px;
    padding: 5px 29px;
}

button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

section .col-lg-5{
  padding-left: 2%;
  padding-right: 9%;
}

.header-bannerimge {
    margin: 1px 0 -75px;
}
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


@media screen and (max-width: 900px){
section .col-lg-5 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
}


/*----------------------------------------*/

@media screen and (max-width: 1140px){
section .col-lg-5 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
}

@media screen and (max-width: 1140px){
 .header-bannerimge {
    margin: 1px 0 -20px;
}
}

@media screen and (max-width: 1140px){
  article h2 {
    text-align: center;
}
}

@media screen and (max-width: 1140px){
  img {
    text-align: center;
}
}

@media screen and (max-width: 1140px){
  .regform-wrap{
   margin-top: 0;
}
}

@media screen and (max-width: 1140px){
  .col-lg-12 {
    text-align: center;
}
}

@media screen and (max-width: 1140px){
  .col-lg-5 {
    width: 100%;
    text-align: center;
}
}

/*-----------------------------------*/


@media screen and (max-width: 1370px){
  article {
    padding-bottom: 0;
}
}

@media screen and (max-width: 1370px){
  section .col-lg-5 {
    padding-left: 4%;
    padding-right: 7%;
}
}

/*------------------------------------------------*/



@media screen and (min-width: 1500px){
.header-bannerimge {
    margin: -50px 0 0 -20px;
}
}

@media screen and (min-width: 2200px){
.header-bannerimge {
    margin: -40px 0 0 -20px;
}
}

@media screen and (min-width: 1900px){
.regform-wrap {    
    margin-top: -115px;    
}
}

@media screen and (min-width: 2600px){
.header-bannerimge {
    margin: -5px 0 0 -20px;
}
}

@media screen and (min-width: 2600px){
.regform-wrap {    
    margin-top: -123px;    
}
}

@media screen and (min-width: 3200px){
.header-bannerimge {
    margin: 20px 0 0 -20px;
}
}

@media screen and (min-width: 3200px){
.regform-wrap {    
    margin-top: -130px;    
}
}

@media screen and (min-width: 4000px){
.header-bannerimge {
    margin: 150px 0 0 -20px;
}
}

@media screen and (min-width: 4000px){
.regform-wrap {    
    margin-top: -142px;    
}
}
